/config.mk
/config.sh
/pgem
/pgem-build
/pgem-config
/pgem-deps
/pgem-env
/pgem-fetch
/pgem-install
/pgem-list
/pgem-resolve
/pgem-sh-setup
/pgem-uninstall
/pgem-update
/pgem-version-test
/pgem-build.html
/pgem-config.html
/pgem-deps.html
/pgem-env.html
/pgem-fetch.html
/pgem-install.html
/pgem-list.html
/pgem-sa
/pgem-sh-setup.html
/pgem-uninstall.html
/pgem-update.html
/pgem-version-test.html
/pgem.html
/pgem-steal
/pgem-steal.html
/pgem-upgrade
/pgem-upgrade.html
/pgem-fsck
/pgem-outdated
/pgem-status
